<h1 class="p-col-10 p-offset-1"> Recherche des associations mise à jour après 2009</h1>

<div *ngIf="!selectedAssociationTab">
    <div class="p-grid p-col-10 p-offset-1">
        <div class="p-col-3">
            <p-dropdown [options]="departementsDrop" [(ngModel)]="searcheParams.departement"
                        [styleClass]="'w-100'" filter="true" (onChange)="getVille()"
                        [showClear]="true" placeholder="Département">
                <ng-template let-item pTemplate="selectedItem">
                    <span>{{item.label}}</span>
                </ng-template>
                <ng-template let-dep pTemplate="item">
                    <div class="ui-helper-clearfix">
                        {{dep.label}}
                    </div>
                </ng-template>
            </p-dropdown>
        </div>
        <div class="p-col-3">
            <p-dropdown [options]="villesDrop" [(ngModel)]="searcheParams.ville"
                        [styleClass]="'w-100'" filter="true" (onChange)="rechercher()"
                        [showClear]="true" placeholder="Ville">
                <ng-template let-item pTemplate="selectedItem">
                    <span>{{item.label}}</span>
                </ng-template>
                <ng-template let-dep pTemplate="item">
                    <div class="ui-helper-clearfix">
                        {{dep.label}}
                    </div>
                </ng-template>
            </p-dropdown>
        </div>
        <div class="p-col-3">
            <p-autoComplete [(ngModel)]="query.bool.should.multi_match.query"
                            [suggestions]="subjestAssociation"
                            (completeMethod)="searchSubjestAsso()"
                            (onSelect)="rechercher()"
                            [minLength]="3"
                            placeholder="Recherche par mot clé"
                            styleClass="w-100"></p-autoComplete>
        </div>
        <div class="p-col-2">
            <button pButton type="button" label="Rechercher" pTooltip="Rechercher"
                    class="w-100" (click)="rechercher()"></button>
        </div>
        <div class="p-col-1">
            <button pButton type="button" label="Vider" pTooltip="Vider les champs de recherche"
                    class="w-100" (click)="resetFilter()"></button>
        </div>
    </div>
</div>

<div class="p-col-10 p-offset-1">
    <p-table #tableAssociation [value]="associations"
             [paginator]="true" [rows]="20" dataKey="id" [first]="0"
             selectionMode="single" [(selection)]="selectedAssociationTab"
             (onRowSelect)="getMap()" [hidden]="selectedAssociationTab">
        <ng-template pTemplate="emptymessage">
            <div class="pt-2 pb-2">Aucune association trouvée</div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Titre</th>
                <th pSortableColumn="adrs_libcommune">
                    Ville
                    <p-sortIcon field="adrs_libcommune"></p-sortIcon>
                </th>
                <th>Adresse</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-asso>
            <tr [pSelectableRow]="asso">
                <td>{{asso.titre}}</td>
                <td>{{asso.adrs_libcommune}}</td>
                <td>{{asso.adrs_numvoie + ' ' + asso.adrs_typevoie + ' ' + asso.adrs_libvoie}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<div *ngIf="selectedAssociationTab">
    <div class="p-col-10 p-offset-1">
        <p-fieldset legend="Détail">
            <div class="p-grid">
                <div class="p-grid p-col-6">
                    <div class="p-col-4 ass-label-blue">Titre :</div>
                    <div class="p-col-8">{{selectedAssociationTab.titre }}</div>
                </div>
                <div class="p-grid p-col-6">
                    <div class="p-col-4 ass-label-blue">Déscription :</div>
                    <div class="p-col-8">{{selectedAssociationTab.objet}}</div>
                </div>
            </div>

            <div class="p-grid">
                <div class="p-grid p-col-6">
                    <div class="p-col-4 ass-label-blue">Ville :</div>
                    <div class="p-col-8">{{selectedAssociationTab.adrsLibcommune}}</div>
                </div>
                <div class="p-grid p-col-6">
                    <div class="p-col-4 ass-label-blue">Code postal :</div>
                    <div class="p-col-8">{{selectedAssociationTab.adrsCodepostal}}</div>
                </div>

            </div>

            <div class="p-grid">
                <div class="p-grid p-col-6">
                    <div class="p-col-4 ass-label-blue">Adresse :</div>
                    <div class="p-col-8">{{selectedAssociationTab.adrsNumvoie + ' ' + selectedAssociationTab.adrsTypevoie + ' ' + selectedAssociationTab.adrsLibvoie}}</div>
                </div>
                <div class="p-grid p-col-6">
                    <div class="p-col-4 ass-label-blue">Date de publication :</div>
                    <div class="p-col-8">{{selectedAssociationTab.datePubli | date:'longDate'}}</div>
                </div>
            </div>

            <div class="p-grid">
                <div class="p-grid p-col-6">
                    <div class="p-col-4 ass-label-blue">Téléphone :</div>
                    <div class="p-col-8">{{selectedAssociationTab.telephone}}</div>
                </div>
                <div class="p-grid p-col-6">
                    <div class="p-col-4 ass-label-blue">Email :</div>
                    <div class="p-col-8">{{selectedAssociationTab.email }}</div>
                </div>
            </div>

            <div class="p-grid">
                <div class="p-grid p-col-6">
                    <div class="p-col-4 ass-label-blue">Siret :</div>
                    <div class="p-col-8">{{selectedAssociationTab.siret}}</div>
                </div>
                <div class="p-grid p-col-6">
                    <div class="p-col-4 ass-label-blue">Date de mise à jour :</div>
                    <div class="p-col-8">{{selectedAssociationTab.majTime | date:'longDate' }}</div>
                </div>
            </div>

            <div class="p-grid">
                <div class="p-grid p-col-6">
                    <div class="p-col-4 ass-label-blue">Groupement :</div>
                    <div class="p-col-8" *ngIf="selectedAssociationTab.groupement === 'S'">
                        Simple
                    </div>
                    <div class="p-col-8" *ngIf="selectedAssociationTab.groupement === 'U'">
                        Union
                    </div>
                    <div class="p-col-8" *ngIf="selectedAssociationTab.groupement === 'F'">
                        Fédération
                    </div>
                </div>
                <div class="p-grid p-col-6">
                    <div class="p-col-4 ass-label-blue">Position d’activité de l’association :</div>
                    <div class="p-col-8" *ngIf="selectedAssociationTab.position === 'A'">
                        Active
                    </div>
                    <div class="p-col-8" *ngIf="selectedAssociationTab.position === 'D'">
                        Dissoute
                    </div>
                    <div class="p-col-8" *ngIf="selectedAssociationTab.position === 'S'">
                        Supprimée
                    </div>
                </div>
            </div>
        </p-fieldset>
    </div>


    <div class="p-col-10 p-offset-1">
        <ass-carte [name]="'carte-asso'" [latitude]="latitude" [longitude]="longitude"></ass-carte>
    </div>

    <div class="p-col-10 p-offset-1">
        <div class="ui-rtl" dir="rtl">
            <button pButton type="button" label="Retour" (click)="backTableau()"></button>
        </div>
    </div>
</div>

