/* You can add global styles to this file, and also import other style files */
.ass-label-blue {
    color: cornflowerblue;
}

#frugalmap {
    height: 600px;
    width: 100%
}

.f-4em {
    font-size: 4em;
}