<div class="card card-w-title" style="margin-bottom: 1rem">
    <p-tabView>

        <p-tabPanel header="Nouvelles">
            <div class="p-grid">
                <div class="p-col-10 p-offset-1" *ngIf="!createNews">
                    <div class="p-col-12">
                        <button pButton type="button" label="Créer une nouvelle" (click)="createNews = true"></button>
                    </div>

                    <div class="p-col-12">
                        <p-table [value]="listNouvelle">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Titre</th>
                                    <th>Description</th>
                                    <th>Date de création</th>
                                    <th>Supprimer</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-news>
                                <tr>
                                    <td>{{news.titre}}</td>
                                    <td>{{news.description}}</td>
                                    <td>{{news.dateCreation | date:'longDate'}}</td>
                                    <td>
                                        <button pButton type="button" icon="pi pi-trash"
                                                (click)="supprimerNouvelle(news)"></button>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>

                </div>

                <div class="p-col-10 p-offset-1" *ngIf="createNews">

                    <h2>Création d'une nouvelle</h2>

                    <form [formGroup]="newsForm" (ngSubmit)="ajouterNouvelle(newsForm.value)">
                        <div style="margin: 10px 0px">

                            <div class="p-field p-grid">
                                <label class="p-col-2">
                                    Titre * :
                                </label>
                                <div class="p-col-6">
                                    <input pInputText type="text" formControlName="titre" placeholder="Titre"
                                           class="w-100"/>
                                </div>
                                <div class="p-col-4">
                                    <p-message severity="error"
                                               *ngIf="!newsForm.controls['titre'] && newsForm.controls['titre'].dirty"
                                               text="Titre obligatoire"></p-message>
                                </div>
                            </div>

                            <div class="p-field p-grid">
                                <label class="p-col-2">
                                    Description * :
                                </label>
                                <div class="p-col-6">
                                    <input pInputText type="text" formControlName="description"
                                           placeholder="Description" class="w-100"/>
                                </div>
                                <div class="p-col-4">
                                    <p-message severity="error"
                                               *ngIf="!newsForm.controls['description'].valid && newsForm.controls['description'].dirty"
                                               text="Description obligatoire"></p-message>
                                </div>
                            </div>

                            <div class="p-grid">
                                <div class="p-col-2"></div>
                                <div class="p-col-3">
                                    <button pButton type="button" class="p-button-secondary w-100" label="Retour"
                                            (click)="newsForm.reset(); createNews = undefined;"></button>
                                </div>
                                <div class="p-col-3">
                                    <button pButton type="submit" label="Valider" [disabled]="!newsForm.valid"
                                            class="w-100"></button>
                                </div>
                                <div class="p-col-4"></div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </p-tabPanel>

        <p-tabPanel header="Utilisateurs">
            <div class="ui-g">
                <div class="p-col-10 p-offset-1" *ngIf="!createUtilisateur">

                    <div class="p-col-12">
                        <button pButton type="button" label="Créer un utilisateur"
                                (click)="createUtilisateur = true"></button>
                    </div>

                    <div class="p-col-12">
                        <p-table [value]="listUtilisateurs">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Login</th>
                                    <th>Roles</th>
                                    <th>Est actif</th>
                                    <th>Supprimer</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-user>
                                <tr>
                                    <td>{{user.username}}</td>
                                    <td>{{user.roles}}</td>
                                    <td>{{user.is_active ? 'Oui' : 'Non'}}</td>
                                    <td>
                                        <button pButton type="button" icon="pi pi-trash"
                                                (click)="supprimerUtilisateur(user)"></button>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>

                </div>

                <div class="p-col-10 p-offset-1" *ngIf="createUtilisateur">

                    <h2>Création d'un nouvelle utilisateur</h2>

                    <form [formGroup]="newsUtilisateur" (ngSubmit)="ajouterUtilisateur(newsUtilisateur.value)">
                        <div style="margin: 10px 0px">

                            <div class="p-field p-grid">
                                <label class="p-col-2">
                                    Login * :
                                </label>
                                <div class="p-col-6">
                                    <input pInputText type="text" formControlName="username" placeholder="Login" class="w-100"/>
                                </div>
                                <div class="p-col-4">
                                    <p-message severity="error"
                                               *ngIf="!newsUtilisateur.controls['username'].valid && newsUtilisateur.controls['username'].dirty"
                                               text="Login obligatoire"></p-message>
                                </div>
                            </div>

                            <div class="p-field p-grid">
                                <label class="p-col-2">
                                    Mot de passe * :
                                </label>
                                <div class="p-col-6">
                                    <input type="password" pPassword formControlName="password"
                                           placeholder="Mot de passe" class="w-100"/>
                                </div>
                                <div class="p-col-4">
                                    <p-message severity="error"
                                               *ngIf="!newsUtilisateur.controls['password'].valid && newsUtilisateur.controls['password'].dirty"
                                               text="Mot de passe obligatoire"></p-message>
                                </div>
                            </div>

                            <div class="p-field p-grid">
                                <label class="p-col-2">
                                    Mot de passe (Confirmer) * :
                                </label>
                                <div class="p-col-6">
                                    <input type="password" pPassword formControlName="passwordrepeat"
                                           placeholder="Mot de passe (Confirmer)" class="w-100"/>
                                </div>
                                <div class="p-col-4">
                                    <p-message severity="error"
                                               *ngIf="(!newsUtilisateur.controls['passwordrepeat'].valid
                  && newsUtilisateur.controls['passwordrepeat'].dirty) || !confirmPassword(newsUtilisateur.value)"
                                               text="Mot de passe différent du premier"></p-message>
                                </div>
                            </div>

                            <div class="p-grid">
                                <div class="p-col-2"></div>
                                <div class="p-col-3">
                                    <button pButton type="button" class="p-button-secondary w-100" label="Retour"
                                            (click)="newsUtilisateur.reset(); createUtilisateur = undefined;"></button>
                                </div>
                                <div class="p-col-3">
                                    <button pButton type="submit" label="Valider" class="w-100"
                                            [disabled]="!newsUtilisateur.valid || !confirmPassword(newsUtilisateur.value)"></button>
                                </div>
                                <div class="p-col-4"></div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>

        </p-tabPanel>

    </p-tabView>
</div>
