<div class="ui-rtl" dir="rtl">
  <button *ngIf="!isConnected()" pButton type="button" label="Connection" (click)="showDialog()" ></button>
  <button *ngIf="isConnected()" pButton type="button" label="Deconnection" class="ui-button-secondary" (click)="deconnection()"></button>
</div>

<p-dialog modal="modal" responsive="true" header="Connection" showEffect="fade"
          [(visible)]="display" [minY]="70" appendTo="body"
          [style]="{width: '350px', minWidth: '200px'}">
  <p style="color: red">{{authError}}</p>
  <div class="p-col-12">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="p-col-12">
        <div class="form-group">
          <input type="text"
                 pInputText
                 class="form-control"
                 placeholder="Username*"
                 formControlName="username"
                 required/>
        </div>
      </div>

      <div class="p-col-12">
        <div class="form-group">
          <input pPassword
                 type="password"
                 placeholder="Password*"
                 required
                 [feedback]="false"
                 formControlName="password"/>
        </div>
      </div>

      <div class="p-col-12">
        <button class="ui-g" pButton type="submit" label="Connection" [disabled]="!loginForm.valid"></button>
      </div>

    </form>
  </div>
</p-dialog>